<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Liste des produits conseillés</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<header th:include="fragments/navbar"></header>

<main class="container mt-4">
    <h1>Liste des produits conseillés</h1>

    <!-- Formulaire de filtre -->
    <form class="row mb-3" th:action="@{/produits-conseil}" method="get">
        <div class="col-md-3">
            <label for="mois" class="form-label">Mois</label>
            <select class="form-select" name="mois" id="mois" required>
                <option th:each="moisElement : ${listeMois}" th:value="${moisElement.id}" th:text="${moisElement.nom}"></option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="annee" class="form-label">Année</label>
            <input type="number" id="annee" name="annee" class="form-control" th:value="${annee}"
                   placeholder="Année" required>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </div>
    </form>

    <div>
        <a class="btn btn-success" th:href="@{/produits-conseil/ajouter}">Ajouter</a>
    </div>

    <!-- Tableau -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Catégorie</th>
            <th>Parfum</th>
            <th>Prix de vente</th>
            <th>Conseil</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produitConseil : ${produitsConseil}">
            <td th:text="${produitConseil.produit.nom}"></td>
            <td th:text="${produitConseil.produit.categorie.nom}"></td>
            <td th:text="${produitConseil.produit.parfum.nom}"></td>
            <td th:text="${produitConseil.produit.prixVente}"></td>
            <td th:text="${produitConseil.description}"></td>
            <td th:text="${produitConseil.date}"></td>
        </tr>
        </tbody>
    </table>
</main>


<script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>
</html>
